[Desktop Entry]
Type=Application
Exec=vault.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Vault Mount
Name=Vault Mount
Comment[en_US]=Mounts Crypted Vault on Login
Comment=Mounts Crypted Vault on Login
